body {
  text-align: center;
}


.topnav {
  background-color: white;
  overflow: hidden;
  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Style the search bar */
.topnav input {
  height: 35px;
  padding: 5px 5px;
}
.topnav button {
  height: 36px;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
}

hr {
  border-color: black;
  background-color: black;
}
